<html>

<head></head>

<body>
    <div style="margin:0;padding:0" bgcolor="#FFFFFF">
        <img src="" width="1" height="1" class="CToWUd" />
        <table width="100%" height="100%" style="min-width:348px" border="0" cellspacing="0" cellpadding="0" lang="es-419">
            <tbody>
                <tr height="32" style="height:32px">
                    <td></td>
                </tr>
                <tr align="center">
                    <td>
                        <div>
                            <div></div>
                        </div>
    
                        <table border="0" cellspacing="0" cellpadding="0" style="padding-bottom:20px;max-width:516px;min-width:220px">
                            <tbody>
                                <tr>
                                    <td>
                                        <div style="border-style:solid;border-width:thin;border-color:#dadce0;border-radius:8px;padding:10px" align="center" class="m_-497795856620170875mdv2rw">
                                            <div style="text-align:center ;border-radius: 8px;">
                                                <img src="https://i.imgur.com/cUq1hNF.png" style="width:562px;height:140px;margin-bottom:16px;border-radius: 8px;" class="CToWUd" alt="Polo Tic Misiones"/>
                                            </div>
                                            <div style="font-family:'Google Sans',Roboto,RobotoDraft,Helvetica,Arial,sans-serif;border-bottom:thin solid #dadce0;color:rgba(0,0,0,0.87);line-height:32px;padding-bottom:24px;text-align:center;word-break:break-word">
                    
                                            </div>

                                            <!--Inicio de formato para el mensaje-->
                                            <div style="font-family:Roboto-Regular,Helvetica,Arial,sans-serif;font-size:14px;color:rgba(0,0,0,0.87);line-height:20px;padding-top:20px;text-align:left">
                                                <!--Insertar texto del mensaje-->
                                                <table style="width: auto;">
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <!--Bienvenida-->
                                                                <div style="width: 100%;height:100%;color: black" align="center">
                                                                    <h4 style="text-align: center;font-weight: bold;">¡Buen día ${nombre}!</h4>
                                                                    <p style="font-size:14px;text-align: center;margin-top:25px;">
                                                                        Confirmamos tu inscripción al taller gratuito y online de Programación de Videojuegos.<br><br>
                                                                        
                                                                        <div style="font-size:14px;height:fit-content;border-radius: 10px;color: black;border-top: #2B9590 2px solid;border-bottom: #2B9590 2px solid;background-color:#E5E5E5;padding:8px;" align="center">
                                                                            <p style="font-size:14px; text-align: center">
                                                                                    Te informamos que hubo un cambio en la fecha de inicio y cursada:<br>
                                                                                <b>Fecha de inicio: martes 3 de agosto a las 18:30 hs.<br>
                                                                                    Días y horario de cursada:</b> 3, 10 y 17 de agosto | 18:30 hs.<br><br>
                                                                                    Para conectarte, hacé click acá abajo. Te recordamos que el mismo acceso se utilizara para los 3 encuentros.<br>
                                                                                <a target="blank" href='https://us02web.zoom.us/j/85951651412?pwd=NGg2VHFoU2habUx1TXF1dVFFdi8yQT09' style="text-decoration: none; color: #fff;"><div style="font-size: large;color: aliceblue;cursor: pointer;;border-radius: 10px;padding: 6px;background-color: #63BDAC;height: fit-content; width: fit-content;">
                                                                                    Acceder
                                                                                </div></a>
                                                                            </p>
                                                                        </div>
                                                                    </p>
                                                                </div>

                                                                 <!--Bienvenida-->
                                                        
                                                                  <!--
                                                                  <p style="font-size:14px;text-align: center;margin-top:25px;">
                                                                    Por haber participado del primer <b>Taller gratuito y online de Desarrollo de Videojuegos</b> organizado por el Polo Tic Misiones y ADVA
                                                                    te compartimos los links de la grabación de los 3 encuentros realizados.
                                                                  </p><br>-->
                                                                  <!--<div style="font-size:14px;height:fit-content;border-radius: 10px;color: black;border-top: rgb(100, 173, 218) 2px solid;border-bottom: rgb(100, 173, 218) 2px solid;background-color:rgb(242,244,246);padding:8px;" align="center">
                                                                    
                                                                    <h4 style="margin-bottom:10px;font-weight: bold">¡Accedé haciendo click!</h4>

                                                                    <table>
                                                                        <tbody>
                                                                            <tr>
                                                                                <td>
                                                                                    <a style='text-decoration: none;' target="_blank" href="https://drive.google.com/file/d/1kXURh9qSObiNMNjKlZkf7aLlowmog5hF/view?usp=sharing">
                                                                                        <div style='width: auto; height: fit-content; padding: 5px; border-radius: 10px; cursor: pointer;'>
                                                                                            <p style='background-color:rgba(0,0,0, 10%);height: auto; width: auto; text-align: center; color: #000; border-radius: 10px; padding: 5px'>
                                                                                                Primer encuentro
                                                                                            </p>
                                                                                        </div>
                                                                                    </a>
                                                                                </td>
                                                                                <td>
                                                                                    <a style='text-decoration: none;' target="_blank" href="https://drive.google.com/file/d/1UYNdsmpIWxWQDvX6QCPBZhbD9dPEIGO2/view?usp=sharing">
                                                                                        <div style='width:fit-content; height: fit-content; padding: 5px 5px; border-radius: 10px; cursor: pointer;'>
                                                                                            <p style='background-color:rgba(0,0,0, 10%);height: auto; width: auto; text-align: center; color: #000; border-radius: 10px; padding: 5px'>
                                                                                                Segundo encuentro
                                                                                            </p>
                                                                                        </div>
                                                                                    </a>
                                                                                </td>
                                                                                <td>
                                                                                    <a style='text-decoration: none;' target="_blank" href="https://drive.google.com/file/d/1o9ebzj0HyTG_aeMipA3AlJNU7Vh-SrLi/view?usp=sharing">
                                                                                        <div style='width:fit-content; height: fit-content; padding: 5px 5px; border-radius: 10px; cursor: pointer;'>
                                                                                            <p style='background-color:rgba(0,0,0, 10%);height: auto; width: auto; text-align: center; color: #000; border-radius: 10px; padding: 5px'>
                                                                                                Tercer encuentro
                                                                                            </p>
                                                                                        </div>
                                                                                    </a>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                    

                                                                </div>-->
                                                                    <p style='text-align: center; font-size: 14px;'><i>¡Gracias participar de nuest  ras propuestas!</i><br><br>¡Saludos!</p>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                        <!--Texto para que no vaya a Spam-->
                                        <div style="width:100%; height:auto;text-align: center;color:rgba(0,0,0,0.54)">
                                            <p style='width: auto; font-size: 12px; text-align: center;'>${pie}</p>
                                           <img src='https://i.imgur.com/s2mkrEo.png'/>
                                            <p style='font-size: 9px;'>Este correo te ha llegado debido a que formas parte de la base de datos del Polo Tic Misiones. Si no queres recibir mas correos como este, ponete en contacto con nosotros a través del correo recepcionpoloticmisiones@gmail.com. Dirección  Calle 62 y 229 - Paraje Nemesio Parma | Posadas</p>
                                        </div>
                                    </td>
                                  
                                </tr>
                            </tbody>
                        </table>
    
    
                    </td>
                </tr>
                <!--footer-->
                <tr height="32" style="height:32px">
                    <td>
                        <div>
                        
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>