<html>

<head></head>

<body>
    <div style="margin:0;padding:0" bgcolor="#FFFFFF">
        <img src="" width="1" height="1" class="CToWUd" />
        <table width="100%" height="100%" style="min-width:348px" border="0" cellspacing="0" cellpadding="0"
            lang="es-419">
            <tbody>
                <tr height="32" style="height:32px">
                    <td></td>
                </tr>
                <tr align="center">
                    <td>
                        <div>
                            <div></div>
                        </div>

                        <table border="0" cellspacing="0" cellpadding="0"
                            style="padding-bottom:20px;max-width:516px;min-width:220px">
                            <tbody>
                                <tr>
                                    <td>
                                        <div style="border-style:solid;border-width:thin;border-color:#dadce0;border-radius:8px;padding:10px; width: 516px;"
                                            align="center" class="m_-497795856620170875mdv2rw">
                                            <div style="text-align:center ;border-radius: 8px; height: fit-content;">
                                                <img src="https://i.imgur.com/RUV8LIk.png"
                                                    style="width:512px;height:140px;border-radius: 8px;"
                                                    class="CToWUd" alt="Encabezado Curso" />
                                            </div>
                                            <div
                                                style="font-family:'Google Sans',Roboto,RobotoDraft,Helvetica,Arial,sans-serif;border-bottom:thin solid #dadce0;color:rgba(0,0,0,0.87);line-height:32px;padding-bottom:24px;text-align:center;word-break:break-word">

                                            </div>

                                            <!--Inicio de formato para el mensaje-->
                                            <div
                                                style="width:516;font-family:Roboto-Regular,Helvetica,Arial,sans-serif;font-size:14px;color:rgba(0,0,0,0.87);line-height:20px;padding-top:20px;text-align:left">
                                                <!--Insertar texto del mensaje-->
                                                <table style="width: auto;">
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <!--Bienvenida-->
                                                                <div style="width: 100%;height:100%;color: black; text-align: center;"
                                                                    align="center">
                                                                    <h4 style="text-align: center;font-weight: bold;">
                                                                        ¡Hola ${nombre}!</h4>
                                                                    <p
                                                                        style="font-size:15px;text-align: center">
                                                                        Te damos la bienvendia al <b>Curso de Desarrollo Web Fullstack con Java</b></p>

                                                                    <div style="height:fit-content;width: 512px;font-size:15px;border-radius: 10px;color: black;border-top:#AFCC4E 2px solid;border-bottom:#AFCC4E 2px solid;background-color:F7F9FA;"
                                                                        align="center">
                                                                        <p style="font-size:14px; text-align: center;">
                                                                            Te esperamos en la primera clase el día 10 de agosto a las 08:00hs.<br><br>
                                                                            👇<b>¡Para asistir hacé click acá!</b>👇<br>
                                                                            <a target="blank" href='https://youtu.be/CE3yCFROAvk' style="text-decoration: none; color: #fff;"><div style="font-size: 14px;color: aliceblue;cursor: pointer;;border-radius: 10px;padding: 6px;background-color: #63BDAC;height: fit-content; width: fit-content;">
                                                                                Acceder
                                                                            </div></a>
                                                                        </p>
                                                                   
                                                                    </div>
                                                                    
                                                                </div>

                                                                <p style='text-align: center; font-size: 14px'>

                                                                    <b style="color:#2B9590; border-radius: 2px; padding: 2px;margin-top: 10px; font-size: 15px;">Nos encontramos en la cursada.</b><br><br>
                                                                    <i style="margin-top: 10px;"></i>
                                                                  
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                        <!--Texto para que no vaya a Spam-->
                                        <div style="width:100%; height:auto;text-align: center;color:rgba(0,0,0,0.54)">
                                            <p style='width: auto; font-size: 12px; text-align: center;'></p>
                                            <img src='https://i.imgur.com/QG6Ivf6.png' alt="Entidades" style="width:124px; height: fit-content;border-radius: 8px;" />
                                            <p style='font-size: 11px;'>Este correo te ha llegado debido a que formas
                                                parte de la base de datos del Silicon Misiones. Si no queres recibir
                                                mas correos como este, ponete en contacto con nosotros a través del
                                                correo cursossiliconmisiones@gmail.com</p>
                                        </div>
                                    </td>

                                </tr>
                            </tbody>
                        </table>


                    </td>
                </tr>
                <!--footer-->
                <tr height="32" style="height:32px">
                    <td>
                        <div>

                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>