// app global css in SCSS form
body.body--dark {
    background: $dark;
  }

.title {
    font-weight:500;
    color: $primary;
}

.bg-primary {
  background: $primary;
}

.bg-secondary {
  background: $secondary;
}

.bg-accent {
  background: $accent;
}

.bg-transparent {
  background: rgba($color: #000000, $alpha: 0.0);
}