<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
          <title>mail template</title>
    </head>
    <body>
        <div style="margin:0;padding:0" bgcolor="#FFFFFF">
            <img src="https://i.imgur.com/ez8EadG.png" width="1" height="1" class="CToWUd" alt="Polo Tic Misiones"/>
            <table width="100%" height="100%" style="min-width:348px" border="0" cellspacing="0" cellpadding="0" lang="es-419">
                <tbody>
                    <tr height="32" style="height:32px">
                        <td></td>
                    </tr>
                    <tr align="center">
                        <td>
                            <div>
                                <div></div>
                            </div>

                            <table border="0" cellspacing="0" cellpadding="0" style="padding-bottom:20px;max-width:516px;min-width:350px">
                                <tbody>
                                    <tr>
                                        <td width="8" style="width:8px"></td>
                                        <td>
                                            <div style="border-style:solid;border-width:thin;border-color:#dadce0;border-radius:8px;padding:40px 20px;" align="center" class="m_-497795856620170875mdv2rw">
                                                <div style="line-height:20px;padding-top:20px;text-align:center; background-image: linear-gradient(to right, #04F0CE, #7C18AE); border-radius: 8px">
                                                    <img width="75" height="24" src="https://i.imgur.com/ez8EadG.png" style="width:248px;height:90px;margin-bottom:16px" class="CToWUd" alt="Polo Tic Misiones"/>
                                                </div>
                                                <div style="font-family:'Google Sans',Roboto,RobotoDraft,Helvetica,Arial,sans-serif;border-bottom:thin solid #dadce0;color:rgba(0,0,0,0.87);line-height:32px;padding-bottom:24px;text-align:center;word-break:break-word">
                                                </div>
                                                <div style="font-family:Helvetica,Arial,sans-serif;font-size:14px;color:rgba(0,0,0,0.87);line-height:20px;padding-top:20px; white-space:pre-wrap">
<span>${content}</span>
                                                    <!--<span> Para restautrar la misma haga click en el siguiente link:</span>-->
                                                </div>
                                            </div>
                                            <div style="text-align:left">
                                                <div style="font-family:Roboto-Regular,Helvetica,Arial,sans-serif;color:rgba(0,0,0,0.54);font-size:11px;line-height:18px;padding-top:12px;text-align:center">
                                                    <div>
                                                        ${pie}
                                                    </div>
                                                    <!--<div style="direction:ltr">
                                        © 2019 Google LLC,
                                        <a class="m_-497795856620170875afal" style="font-family:Roboto-Regular,Helvetica,Arial,sans-serif;color:rgba(0,0,0,0.54);font-size:11px;line-height:18px;padding-top:12px;text-align:center">1600 Amphitheatre Parkway, Mountain View, CA 94043, USA</a>
                                    </div>-->
                                                </div>
                                            </div>
                                        </td>
                                        <td width="8" style="width:8px"></td>
                                    </tr>
                                </tbody>
                            </table>



                        </td>
                    </tr>
                    <tr height="32" style="height:32px">
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>