<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
          <title>mail template</title>
    </head>
    <body>
        <div style="margin:0;padding:0" bgcolor="#FFFFFF">
            <img src="https://i.imgur.com/ez8EadG.png" width="1" height="1" class="CToWUd" alt="Polo Tic Misiones"/>
            <table width="100%" height="100%" style="min-width:348px" border="0" cellspacing="0" cellpadding="0" lang="es-419">
                <tbody>
                    <tr height="32" style="height:32px">
                        <td></td>
                    </tr>
                    <tr align="center">
                        <td>
                            <div>
                                <div></div>
                            </div>

                            <table border="0" cellspacing="0" cellpadding="0" style="padding-bottom:20px;max-width:516px;min-width:350px">
                                <tbody>
                                    <tr>
                                        <td width="8" style="width:8px"></td>
                                        <td>
                                            <div style="border-style:solid;border-width:thin;border-color:#dadce0;border-radius:8px;padding:10px;" align="center" class="m_-497795856620170875mdv2rw">
                                                <div style="line-height:20px;padding-top:20px;margin-bottom: 5px;text-align:center; background-image: linear-gradient(to right, #04F0CE, #7C18AE); border-radius: 8px">
                                                    <img width="75" height="24" src="https://i.imgur.com/ez8EadG.png" style="width:248px;height:90px;margin-bottom:16px" class="CToWUd" alt="Polo Tic Misiones"/>
                                                   
                                                </div>
                                                <h3 style="font-family:Helvetica,Arial,sans-serif;color:rgba(0,0,0,0.87); margin: 0px;">INFORMACIÓN INTERNA</h3>
                                                <div style="font-family:'Google Sans',Roboto,RobotoDraft,Helvetica,Arial,sans-serif;border-bottom:thin solid #dadce0;color:rgba(0,0,0,0.87);line-height:32px;padding-bottom:24px;text-align:center;word-break:break-word">
                                                </div>
                                                <div style="font-family:Helvetica,Arial,sans-serif;font-size:14px;color:rgba(0,0,0,0.87);line-height:20px;padding-top:20px; white-space:pre-wrap"><span>El formulario <strong>_formTitle_</strong> ha cerrado por haber alcanzado el limite de _responseLimit_ respuestas.</span></div>
                                            </div>
                                            <div style="text-align:left">
                                                <div style="font-family:Roboto-Regular,Helvetica,Arial,sans-serif;color:rgba(0,0,0,0.54);font-size:11px;line-height:18px;padding-top:12px;text-align:center">
                                                    <div>
                                                        Equipo de Desarrollo<br>
                                                        Este correo te ha llegado debido a que formas parte de la base de datos del Polo Tic Misiones. Si no queres recibir mas correos como este, ponete en contacto con nosotros a través del correo recepcionpoloticmisiones@gmail.com. Direccion  Calle 62 y 229 - Paraje Nemesio Parma | Posadas
                                                    </div>                                                </divw>
                                            </div>
                                        </td>
                                        <td width="8" style="width:8px"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr height="32" style="height:32px">
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>


