<html>

<head></head>

<body>
    <div style="margin:0;padding:0" bgcolor="#FFFFFF">
        <img src="" width="1" height="1" class="CToWUd" />
        <table width="100%" height="100%" style="min-width:348px" border="0" cellspacing="0" cellpadding="0" lang="es-419">
            <tbody>
                <tr height="32" style="height:32px">
                    <td></td>
                </tr>
                <tr align="center">
                    <td>
                        <div>
                            <div></div>
                        </div>
    
                        <table border="0" cellspacing="0" cellpadding="0" style="padding-bottom:20px;max-width:516px;min-width:220px">
                            <tbody>
                                <tr>
                                    <td width="8" style="width:20px"></td>
                                    <td>
                                        <div style="border-style:solid;border-width:thin;border-color:#dadce0;border-radius:8px;padding:40px 20px" align="center" class="m_-497795856620170875mdv2rw">
                                            <div style="line-height:20px;padding-top:20px;text-align:center; background-image: linear-gradient(to right, #04F0CE, #7C18AE); border-radius: 8px">
                                                <img width="75" height="24" src="https://i.imgur.com/ez8EadG.png" style="width:124px;height:45px;margin-bottom:16px" class="CToWUd" alt="Polo Tic Misiones"/>
                                            </div>
                                            <div style="font-family:'Google Sans',Roboto,RobotoDraft,Helvetica,Arial,sans-serif;border-bottom:thin solid #dadce0;color:rgba(0,0,0,0.87);line-height:32px;padding-bottom:24px;text-align:center;word-break:break-word">
                    
                                            </div>

                                            <!--Inicio de formato para el mensaje-->
                                            <div style="font-family:Roboto-Regular,Helvetica,Arial,sans-serif;font-size:14px;color:rgba(0,0,0,0.87);line-height:20px;padding-top:20px;text-align:left">


                                                <!--Insertar texto del mensaje-->
                                                <table>
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <!--Bienvenida-->
                                                                <div style="width: 100%;height:100%;color: black" align="center">
                                                                    <h4 style="text-align: center;font-weight: bold;">¡Buen día ${nombre}!</h4>
                                                                </div>

                                                                 <!--Bienvenida-->
                                                        
                                                                  <!--Explicar ZOOM -->
                                                                  <p style="font-size:14px;text-align: center;margin-top:25px;">Te damos la bienvenida a la <b>Masterclass de Diseño de Videojuegos</b> dictado por <b>ADVA
                                                                    (Asociación de Desarrolladores de Videojuegos Argentina)</b>.</p><br>
                                                                  <div style="border-radius: 3px;color: black;border-top: rgb(100, 173, 218) 5px solid;border-bottom: rgb(100, 173, 218) 5px solid;" align="center">
                                                                    <h4 style="margin-bottom:0px;font-weight: bold">Encuentro  1</h4>
                                                                    <p style="font-size:14px;text-align: center;margin-top:25px;">Te recordamos que el día de hoy se realiza el <b>primer encuentro a las 19:00hs</b> y <b>podes acceder a la clase en vivo por zoom haciendo click <a style="font-family: bold;color:rgba(64, 115, 158,1.0); font-size: 17px;" href="https://us02web.zoom.us/j/84824124323?pwd=U29WTExsWGVaQWlqaXFiNUFab09Ddz09"> aquí</a>.</b><br><br>
                                                                                                                                  <b>Días:</b> lunes 21, lunes 28 y lunes 5 de julio a las 19:00 hs.<br><br>
                                                                                                                                  <b>ID de Reunion:</b>848 2412 4323<br>
                                                                                                                                  <b>Clave:</b>769520</p>                                              
                                                                    <p></p>
                                                                    </div>
                                                                    <p style='text-align: center; font-size: 14px;'>¡Recordá que son 3 encuentros y se utiliza el mismo link!</p>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                        <!--Texto para que no vaya a Spam-->
                                        <div style="width:100%; height:auto;text-align: center;color:rgba(0,0,0,0.54)">
                                           <table style="width: 516px;">
                                            <tbody>
                                                
                                            </tbody>
                                              <tr>
                                                  <td style='width: auto ;text-align: center'>
                                                    <p style="background:rgba(0, 0, 0, 15%);text-align: center;border-radius: 5px;">ORGANIZAN</p>
                                                  </td>
                                                  <td style='width: auto ;text-align: center'>
                                                    <p style='background:rgba(0, 0, 0, 15%);text-align: center;border-radius: 5px;''>APOYAN</p>
                                                  </td>
                                              </tr> 
                                              <tr>
                                                  <td style='width: auto ;text-align: center; max-width: 256px;'>
                                                      
                                                        <img  style="width: 35%;padding: 3px;" src="https://i.imgur.com/pSQC5RJ.png?1" alt="">
                                                        <img style="width: 35%;padding:3px" src="https://i.imgur.com/D8IWMPj.png" alt="">
                                                      
                                                  </td>
                                                  <td style='width: auto ;text-align: center; max-width: 256px;'>
                                                      
                                                        <img style="width: 35%;padding: 3px" src="https://i.imgur.com/QG6Ivf6.png" alt="">
                                                        <img style="width: 35%;padding:3px" src="https://i.imgur.com/sXxmHVX.png" alt="">
                                                        <img style="width: 15%;padding:3px" src="https://i.imgur.com/crLmTMw.png" alt="">
                                                      
                                                  </td>
                                              </tr>
                                           </table>
                                            <p style='font-size: 9px;'>Este correo te ha llegado debido a que formas parte de la base de datos del Polo Tic Misiones. Si no queres recibir mas correos como este, ponete en contacto con nosotros a través del correo recepcionpoloticmisiones@gmail.com. Dirección  Calle 62 y 229 - Paraje Nemesio Parma | Posadas</p>
                                        </div>
                                    </td>
                                  
                                </tr>
                            </tbody>
                        </table>
    
    
                    </td>
                </tr>
                <!--footer-->
                <tr height="32" style="height:32px">
                    <td>
                        <div>
                        
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>